/* The chat component */
.RoughChat {
	font-family: 'system-ui', sans-serif;
	font-size: 15px;
	padding: 0.5em;
	background: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 75%);
	border-top-color: hsl(0, 0%, 85%);
	border-right-color: hsl(0, 0%, 70%);
	border-bottom-color: hsl(0, 0%, 70%);
}
.RoughChat input,
.RoughChat button {
	padding: 0.3em;
	font-family: 'system-ui', sans-serif;
	font-size: inherit;
}
.RoughChat ol {
	margin: 0;
}
.RoughChat li {
	margin-bottom: 0.2em;
}
.RoughChat li:last-child {
	margin-bottom: 0.5em;
}
.RoughChat form input {
	border: 1px solid hsl(0, 0%, 70%);
	margin-right: 0.25em;
	max-width: 100%;
}
.RoughChat button[type="submit"] {
	border-color: transparent;
	background-color: blue;
	color: white;
}

/* Utilities */
[v-cloak] { display: none; }
.w-100 { width: 100%; }
.f-1 { flex: 1; }
.tr { text-align: right; }
.fr { float: right; }
.df { display: flex; }
.row { display: flex; align-items: center; flex-flow: row nowrap;}
.ml-05 { margin-left: 0.5em; }
.reset-btn { background: none; padding: 0; border: 0; }
.reset-list  { list-style-type: none; padding-left: 0; }
